.Gender_Fem::after {
    content: " ♀";
    color: pink;
    background-color:white;
}
.Gender_Masc::after {
    content: " ♂";
    color: blue;
    background-color:white;
}
.Gender_Neut::after {
  content: " ⚧";
  color: black;
  background-color:white;

}
.Gender_Neut:hover,
.Gender_Masc:hover,
.Gender_Fem:hover {border: 1px dashed black;}

.Number_Ptan, .Number_Plur {
text-decoration: underline;
text-decoration-color: currentColor;
}
.Number_Ptan {
  text-decoration-style: dashed;

}

.Case_Ins {
    color: orange;
}
.Case_Acc {color:green;}

.Case_Nom {color: yellow; background-color:lightgray}

.Case_Gen {color: burlywood}

.Case_Loc {color:white; background-color:lightgray }

.Case_Dat {color:aqua; background-color:lightgray }
