<ul>
    <li>Number: <span class="Number_Plur">Plur</span> <span class="Number_Ptan">Ptan</span></li>
    <li>Gender: <span class="Gender_Masc">Masc</span> <span class="Gender_Fem">Fem</span> <span
            class="Gender_Neut">Neut</span></li>
    <li>Case:</li>
    <ul>
        <li><span class="Case_Nom" data-tooltip="Case=Nom">Nominative (Mianownik)</span></li>
        <li><span class="Case_Acc" data-tooltip="Case=Acc">Accusative (Biernik)</span></li>
        <li><span class="Case_Ins" data-tooltip="Case=Ins">Instrumental (Narzędnik)</span></li>
        <li><span class="Case_Gen" data-tooltip="Case=Gen">Genitive (Dopełniacz)</span></li>
        <li><span class="Case_Loc" data-tooltip="Case=Loc">Locative (Miejscownik)</span></li>
        <li><span class="Case_Dat" data-tooltip="Case=Dat">Dative (Celownik)</span></li>
        <li><span class="Case_Voc" data-tooltip="Case=Voc">Vocative (Wołacz)</span></li>
    </ul>
    <li>Animacy: <span class="Animacy_Inan">Inan</span> <span class="Animacy_Nhum">Nhum</span> 
        <span class="Animacy_Hum">Hum</span>
    </li>
</ul>